html{
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
    margin: 0px;
}

.flexcontainer {
    display: flex;
}

.flexcontainer > div {
    background-color: white;
    padding: 10px;
    margin: 0px;
    font-size: 50px;
    text-align: center;
}

.buttonFoot {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
    line-height: 75px;
}
    
.buttonFoot:hover {
    background-color: #f2f2f2;
}

/* le contenus du bas n'a rien a voir avec l'en-tete */

.bloc{
    position: relative;
    height: 80%;
    width: 90%;
    margin-left: 5%;   
}

/* test flip card */

.cardLeft{
    position: absolute;
    height: 100%;
    width: 33%;
    margin-left: 0%;
    /*border-style: solid;*/
}
.back{
    transform: perspective(600px) rotateY(180deg);
}
.front img{
    height: 25%;
    width: 30%;
    margin: 50%;
     transform: translate(-50%, -50%);
}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}
.cardLeft:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.cardLeft:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.cardMiddle{
    position: absolute;
    height: 100%;
    width: 33%;
    margin-left:33.5%;
    /*border-style: solid;*/
}
.cardMiddle:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.cardMiddle:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.cardRight{
    position: absolute;
    height: 100%;
    width: 33%;
    margin-left: 67%;
    /*border-style: solid;*/
}
.cardRight:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.cardRight:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.front,.back{
    width: 100%;
    
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

h4{
    margin-top: 60%;
}
