
body {
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    margin: 30px;
}

.contenu{
    max-width: 60%;
    margin: auto;
    width: 100%;
}

.question{
    border-bottom: 1px solid;
}


.question h3{
    font-size: 23px;
    margin: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 15px;
    cursos: pointer;
    position: relative;
}

.question h3:after{
    content: '\276F';
    position: absolute;
    right: 30px;
    transform: rotate(90deg);

}

.reponse{
    background-color: rgba(255,255,255,0.1);
    display: none;
    
}

.reponse *{
    margin-top: 0;
    margin-bottom: 1rem;
}

.reponse-inner{
    padding: 15px;

}


