.texte h2{
    text-align: center;
    font-family: Arial;
}

.texte p{
    font-family: Arial;
    text-align: justify;
}

.texte {
    display: flex;
    flex-wrap: wrap;
}

.image {
    display: flex;
    flex-wrap: wrap;
}

.doc {
    flex-basis: 8%;
}